@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet {
    border-radius: 0% !important;
    background-color: #05A845 !important;
}


.ps-menu-label .css-12w9als {
    @apply !text-gray-700 !text-xl;
}


/* For WebKit based browsers (e.g., Chrome, Safari) */
*::-webkit-scrollbar {
    width: 5px !important;
    /* width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

*::-webkit-scrollbar-thumb {
    @apply !bg-primary/90;
    /* color of the thumb */
    border-radius: 6px;
    /* roundness of the thumb */
}

*::-webkit-scrollbar-thumb:hover {
    @apply !bg-primary
    /* color of the thumb on hover */
}